{% extends 'quiz/base.html' %}
{% block content %}
<div id="container" style="text-align: center">
<h1>{{ question.question_text }}</h1>
<h2>{{ selected_choice.choice_text}}</h2>

{% if choice.correct_answer %}
<div>
    <h2>{{ choice.choice_text }}</h2>
</div>
<div>
    Correct!
</div>
{% if next_question_id %}
<form action="{% url 'quiz:detail' next_question_id %}" method="post">
    {% csrf_token %}
    <div>
    <input type="submit" value="Next Question" />
    </div>
</form>
{% else %}
<form action="{% url 'quiz:out_of_questions' %}" method="post">
    {% csrf_token %}
    <div>
    <input type="submit" value="Next Question" />
    </div>
</form>
{% endif %}
</form>
{% else %}
<div>
    Incorrect :(
</div>
<div>
    <button id="backbutton" onclick="goBack()">Go Back</button>
</div>
<script>
function goBack() {
    window.history.back();
}
</script>
{% endif %}
</div>
{% endblock %}