{% extends 'quiz/base.html' %}
{% block content %}
<script>
function validateForm() {
    var check = document.getElementsByTagName('input');
    for (var i = 0; i < check.length; i++) {
        if (check[i].type == 'radio' && check[i].checked) {
            return true;
        }
    }
    document.getElementById('statusTypeErrorMessage').innerHTML = '<div class="alert alert-danger" style="text-align:center; margin-top: 10px !important; margin-bottom: 1px !important;"><p>Choose your Answer!</p></div>';
        setTimeout(function(){
            document.getElementById("statusTypeErrorMessage").innerHTML="";
        },3000);
    return false;

}
</script>

<div id="container">
<h1>{{question.question_text}}</h1>
<form action="{% url 'quiz:answer' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
       <input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{choice.id}}" />
        <label for="choice{{forloop.counter}}">{{ choice.choice_text }}</label><br />
    {% endfor %}
<input type="submit" value="Submit" onclick="return validateForm()" />
    <div class="error-message"></div>
</form>
<div id="statusTypeErrorMessage" ></div>
</div>
{% endblock %}