{% extends 'quiz/base.html' %}
{% block content %}
<div id="container">
    {% if user.is_authenticated %}
    <h1>
        Welcome {{ user.username }}
        <br>
        Choose your Topic!
        <br>
        <i class="twa twa-1x twa-ambulance"></i>
    </h1>
    {% elif registered %}
    <h1>User Added!</h1>
    <h1>Topics</h1>
    {% else %}
    <h1>Topics</h1>
    {% endif %}
{% if topic_list %}
    <ul>
    {% for topic in topic_list %}
        <li type="square"><a href="{% url 'quiz:question' topic.id %}">{{ topic.topic_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Topics are available.</p>
{% endif %}
</div>
{% endblock %}
