{% extends 'quiz/base.html' %}
{% block content %}
<div id="container">
    {% if user.is_authenticated %}
    <h1>
        Welcome {{ user.username }}! <i class="twa twa-1x twa-hatching-chick"></i>
    </h1>
    {% endif %}
<h1>Topics</h1>
{% if topic_list %}
    <ul>
    {% for topic in topic_list %}
        <li type="square"><a href="{% url 'quiz:question' topic.id %}">{{ topic.topic_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Topics are available.</p>
{% endif %}
</div>
{% endblock %}
