{% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{% static 'quiz/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <style>
      body {
        padding-top: 54px;
      }
      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }

    </style>
<link rel="stylesheet" type="text/css" href="{% static 'quiz/style.css' %}" />
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{% url 'quiz:index' %}">MedicApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
<div id="container" style="text-align: center">
    <h1>Oh No!</h1>
    <p>
        There are no more questions!
    <br>
        Please try another category...
    </p>
</div>
<div id="container">
<h1>Topics</h1>
{% if topic_list %}
    <ul>
    {% for topic in topic_list %}
        <li type="square"><a href="{% url 'quiz:question' topic.id %}">{{ topic.topic_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Topics are available.</p>
{% endif %}
</div>
<footer><a href="https://www.github.com/tomxelliott">&copy; tomxelliott</a></footer>
</body>
