{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'quiz/style.css' %}" />

<script>
function validateForm() {
    var check = document.getElementsByTagName('input');
    for (var i = 0; i < check.length; i++) {
        if (check[i].type == 'radio' && check[i].checked) {
            return true;
        }
    }
    //document.getElementById('error-message').innerHTML = '<div id="notification"><span data-notify-text/></div>';
    //jQuery.notify.defaults({globalPosition:"bottom right", autoHide: true, autoHideDelay: 1000});
    //jQuery.notify("Enter a valid Status type", "error");
    return false;
}
</script>
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'quiz:index' %}">
    <img src="../../static/quiz/Care-Medical-Logo.jpg" style="width:10%;height: auto;" height="30" alt="">
  </a>
</nav>
<div id="container">
<h1>{{question.question_text}}</h1>
<form action="{% url 'quiz:answer' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
       <input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{choice.id}}" />
        <label for="choice{{forloop.counter}}">{{ choice.choice_text }}</label><br />
    {% endfor %}
<input type="submit" value="Submit" onclick="return validateForm()" />
    <div class="error-message"></div>
</form>
</div>
<footer>&copy; tomxelliott</footer>