{% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{% static 'quiz/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'quiz/notify.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'quiz/style.css' %}" />
    <style>
      body {
        padding-top: 54px;
      }
      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }

    </style>

<script>
function validateForm() {
    var check = document.getElementsByTagName('input');
    for (var i = 0; i < check.length; i++) {
        if (check[i].type == 'radio' && check[i].checked) {
            return true;
        }
    }
    document.getElementById('statusTypeErrorMessage').innerHTML = '<div class="alert alert-danger" style="text-align:center; margin-top: 10px !important; margin-bottom: 1px !important;"><p>Choose your Answer!</p></div>';
        setTimeout(function(){
            document.getElementById("statusTypeErrorMessage").innerHTML="";
        },3000);
    return false;

}
</script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{% url 'quiz:index' %}">MedicApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
<div id="container">
<h1>{{question.question_text}}</h1>
<form action="{% url 'quiz:answer' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
       <input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{choice.id}}" />
        <label for="choice{{forloop.counter}}">{{ choice.choice_text }}</label><br />
    {% endfor %}
<input type="submit" value="Submit" onclick="return validateForm()" />
    <div class="error-message"></div>
</form>
<div id="statusTypeErrorMessage" ></div>
</div>
<footer><a href="https://www.github.com/tomxelliott">&copy; tomxelliott</a></footer>