{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'quiz/style.css' %}" />
<body>
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'quiz:index' %}">
    <img src="../../static/quiz/Care-Medical-Logo.jpg" style="width:10%;height: auto;" height="30" alt="">
  </a>
</nav>
<div id="container">
<h1>Topics</h1>
{% if topic_list %}
    <ul>
    {% for topic in topic_list %}
        <li type="square"><a href="{% url 'quiz:question' topic.id %}">{{ topic.topic_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Topics are available.</p>
{% endif %}
</div>
<footer>&copy; tomxelliott</footer>
</body>